<html>
<head>
	<meta charset="utf-8">
	<script src="./build/react.min.js"></script>
	<script src="./build/react-dom.min.js"></script>
	<script src="./build/browser.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
	<div id='container'></div>
	<script type='text/babel'>
		var App = React.createClass({
			getInitialState: function(){
				return {
					view: 0, 
					submit_obj: {STATUS: 'READY', ACTION: 'LOGIN', args:{email: 'user1@mail.com', password: 'pass1'}}, 
					socket: {}, 
					msg:{type:'', text: null}, 
					EnterRooms: [],
					Room: {}};
			},
			componentDidMount: function(){
				//Key listener
				document.onkeydown = function(e){
					var view = this.state.view;
					switch (e.keyCode) {
		        case 37:
	            view = cycleBack(views_arr, view);
	            break;
		        case 39:
	            view = cycleNext(views_arr, view); 
		          break; 
		        case 13:
		        	this.submitObject(this.state.submit_obj.ACTION, this.state.submit_obj.args);
		        	break;
		    	}
		    	this.setState({view: view});
				}.bind(this);
				//socket.io stuff
				var socket = io();
				this.setState({socket: socket});
				
				socket.on('ROOMS', function(EnterRooms){
					
					this.setState({EnterRooms: EnterRooms});
				}.bind(this));
				socket.on('VIEW', function(view_index){
					this.setState({view: view_index})
				}.bind(this));
				socket.on('ROOM', function(Room){
					
					this.setState({Room: Room});
				}.bind(this));

				socket.on('msg', function(confirm_args){
					console.log('message received with confirm_args: ', confirm_args);
					var err = confirm_args.err;
					var msg_text = confirm_args.msg;
					var msg_type = '';
					if(err){
						msg_type = 'failure';
					} else {
						msg_type = 'success'
						if(this.state.submit_obj.STATUS==='READY'){
							//var view = cycleNext(views_arr, this.state.view);
							//this.setState({view: view});
							this.setState({submit_obj: {STATUS: 'EMPTY'}});	
						}
					}
		  		this.setMsg(msg_type, msg_text);
		  	}.bind(this));
		  	//set focus
		  	document.getElementById("u_input").focus();
			
			},
			setSubmit: function(ACTION, args, STATUS='READY'){
				var submit_obj = {STATUS: STATUS, ACTION: ACTION, args: args};
				this.setState({submit_obj: submit_obj});
			},
			submitObject: function(ACTION, args){
				console.log('arguments submitted to server');
				this.state.socket.emit(ACTION, args);	
				
			},
			setMsg: function(msg_type, msg_text){
				var msg = {msg_type: msg_type, msg_text: msg_text};
				this.setState({msg: msg});
			},
			renderController: function(){
				switch(this.state.view) {
					case 0:
						return <Entry parent={this} />
						break;
					case 1:
						return <Rooms parent={this} EnterRooms={this.state.EnterRooms}/>
						break;
					case 2:
						return <PotentialTasks Room={this.state.Room} parent={this} />
						break;
					case 3:
						return <ActiveTasks Room={this.state.Room} parent={this} />
						break;
					case 4:
						return <CaseYourData parent={this} Room={this.state.Room} />
						break;
					case 5:
						return <Donate parent={this} />
						break;
					case 6:
						return <Logout parent={this} />
						break;
					default:
						return <p></p> 
				}
			},
			renderNext: function(){
				if(this.state.submit_obj){
					return {flexBasis: '50px', color:'#B14949'};
				} else {
					return null;
				}
			},
			renderSubmit: function(view, submit_obj){
				if (this.state.view!=(views_arr.length-1) && this.state.view!=0) {
					if(submit_obj.STATUS==='READY'){
						return  <button className='username_button' onClick={(e)=>{
							this.submitObject(this.state.submit_obj.ACTION, this.state.submit_obj.args);
						}}>Submit</button>;
					} else {
						return <h4 style={this.renderNext()} onClick={(e)=>{
							var view = this.state.view;
							view = cycleNext(views_arr, view);
							this.setState({view: view});
						}}>Next</h4>
					} 
				} else {
					return <h4 style={{color:'#EBEBEB'}}>NULL</h4>
				} 
			},
			render: function(){
				return (<div className='new_body'>
					<div className='header'>
						<h1>Motivational Therapy</h1>
						<p className='sub-header'>Increasing Productivity with Machine Learning</p>
					</div>
					<div className='menu'>
						{views_arr.map((single_view, single_view_index)=>{
							if(this.state.view===single_view_index){
								return <h4 className='menu-selected' onClick={(e)=>{this.setState({view: single_view_index})}}>{single_view}</h4>
							} else {
								return <h4 onClick={(e)=>{
									if(single_view==='Logout'){
										this.setSubmit('LOGOUT', {}, 'NOT_READY');
										this.submitObject('LOGOUT', {});
									}
									this.setState({view: single_view_index})}}>{single_view}</h4>	
							}
						}.bind(this))}
					</div>
					<h2 className='content-header'>{views_arr[this.state.view]}</h2>
					<div className='content-sub-header'>
						<p style={{flexBasis: '50px'}}>{(this.state.view!=0 && this.state.view!=(views_arr.length-1)) ? <h4 onClick={(e)=>{
							var view = this.state.view;
							view = cycleBack(views_arr, view);
							this.setState({view: view});
						}}>Back</h4> : null}</p>
						<p className={this.state.msg.msg_type}>{this.state.msg.msg_text}</p>
						<p style={{flexBasis: '50px', color:'#B14949'}}>{this.renderSubmit(this.state.view, this.state.submit_obj)}</p>
					</div>
					<main id='main'>{this.renderController()}</main>
				</div>);	
			}
		});
		var Entry = React.createClass({
			getInitialState: function(){
				return {email: 'user1@mail.com', password: 'pass1'};
			},
			render: function(){
				return (
					<div className='entry_container'>
						<section className='username_container'>
							<article className='username_card'>
								<label>Email:</label>
								<input id='u_input' className='u_input' type='email' size="35" placeholder='email' value={this.state.email} onChange={(event)=>{
									this.setState({email: event.target.value}, function(){
										this.props.parent.setSubmit('LOGIN', {email: this.state.email, password: this.state.password});
									}.bind(this));
								}}/>
							</article>
						
							<article className='username_card'>
								<label>Pass:</label>
								<input className='u_input' type='password' size="35" placeholder='password' value={this.state.password} onChange={(event)=>{
									this.setState({password: event.target.value}, function(){
										this.props.parent.setSubmit('LOGIN', {email: this.state.email, password: this.state.password});	
									}.bind(this));
									
								}}/>
							</article>
						
							<button className='username_button' style={{minHeight: '37px'}} onClick={(event)=>{this.props.parent.submitObject('LOGIN', this.state)}}>Submit</button>
						</section>
						<section className='advert'>
							<article><p>
								Motivational Therapy is an app devoted to 
								boosting your productivity. 
								As the app learns your habits, tasks are automatically created and re-organized 
								to increase the likelihood of successful performance in alignment with your goals. {' '} 
								<a style={{flexBasis: '50px', color:'#B14949', textDecoration: 'underline'}}>Get Started...</a>
							</p></article>
						</section>
					</div>);
			}
		});
		var Rooms = React.createClass({
			getInitialState: function(){
				return {active_room: null}
			},
			renderTop: function(room_index){
				if(room_index==this.state.active_room){
					return {borderLeft: '2px solid #B14949', borderTop: '2px solid #B14949', borderRight: '2px solid #B14949'};
				} else {
					return {borderLeft: '2px solid #B14949', borderTop: '2px solid #B14949', borderRight: '2px solid #B14949'};
				}
			},
			renderBottom: function(room_index){
				if(room_index==this.state.active_room){
					return {borderLeft: '2px solid #f3ce6a', borderBottom: '2px solid #f3ce6a', borderRight: '2px solid #f3ce6a', backgroundColor: '#f3ce6a'};
				} else {
					return {borderLeft: '2px solid #fff', borderBottom: '2px solid #fff', borderRight: '2px solid #fff'};
				}
			},
			renderButtons: function(room_index){
				if(room_index==this.state.active_room){
					return 'selected';
				} else {
					return null;
				}
			},
			render: function(){
				return (<div className='room_container'>
					<div className='room_card'>
						<div className='card_tops'></div>
						<div className='card_bottoms' style={{backgroundColor:'#B14949', border: '1px solid #B14949', color: '#FFFFFF', textAlign: 'center'}}><p>+Team</p><br /></div>
					</div>
					{this.props.EnterRooms.map((room, room_index)=>{
							return (<div className='room_card' onClick={(event)=>{
								this.setState({active_room: room_index, room_id: room.id}, function(){
									this.props.parent.setSubmit('SELECT_ROOM', this.state);	
								}.bind(this))}}>
								<div className='card_tops' style={this.renderTop(room_index)}>{room.name}<span className={this.renderButtons(0)}>&#9998; &#10005;</span></div>
								<div className='card_bottoms' style={this.renderBottom(room_index)}>{JSON.stringify(room.emails_arr)}</div>
							</div>);
						})}
				</div>);
			}
		});
		var PotentialTasks = React.createClass({
			getInitialState: function(){
				return {room_checkboxes_arr: [], selected_policy_ids: []}
			},
			setCheckbox: function(room_index){
				var room_checkboxes_arr = this.state.room_checkboxes_arr;
				var selected_policy_ids = this.state.selected_policy_ids;
				var test_index = this.state.room_checkboxes_arr.findIndex((checkbox_index)=>{
					return (checkbox_index===room_index)
				});
				if(test_index!=-1){
					room_checkboxes_arr.splice(test_index, 1);
					selected_policy_ids.splice(test_index, 1);
				} else {
					room_checkboxes_arr.push(room_index);
					selected_policy_ids.push(this.props.Room.policy_arr[room_index].id);
				}
				this.setState({
					room_checkboxes_arr: room_checkboxes_arr, 
					selected_policy_ids: selected_policy_ids
				});
				if(room_checkboxes_arr.length>0){
					this.props.parent.setSubmit('POTENTIAL_TASKS', this.state);
				}
			},
			renderTop: function(room_index){
				var test_index = this.state.room_checkboxes_arr.findIndex((checkbox_index)=>{
					return (checkbox_index===room_index)
				});
				if(test_index!=-1){
					return {backgroundColor:'#B14949', border: '1px solid #B14949'};
				} else {
					return {border: '1px solid #B14949'};
				}
			},
			renderBottom: function(room_index){
				var test_index = this.state.room_checkboxes_arr.findIndex((checkbox_index)=>{
					return (checkbox_index===room_index)
				});
				if(test_index!=-1){
					return {backgroundColor:'#F7B5B5', border: '1px solid #F7B5B5'};
				} else {
					return {border: '1px solid #FFFFFF'};
				}
			},
			render: function(){
				
				return (
					<div className='room_container'>
						<div className='room_card'>
							<div className='card_tops'></div>
							<div className='card_bottoms' style={{backgroundColor:'#B14949', border: '1px solid #B14949', color: '#FFFFFF', textAlign: 'center'}}><p>+Goal</p><br /></div>
						</div>
						{this.props.Room.policy_arr.map((goal_obj, goal_obj_index)=>{
							return (
								<div className='room_card' onClick={(event)=>{this.setCheckbox(goal_obj_index)}}>
									<div className='card_tops' style={this.renderTop(goal_obj_index)}>{goal_obj.name}<span>&#9998; &#10005;</span></div>
									<div className='card_bottoms' style={this.renderBottom(goal_obj_index)}><li>{goal_obj.description}</li></div>
								</div>
							);
						})}
					</div>
				);
			}
		});
		var ActiveTasks = React.createClass({
			getInitialState: function(){
				return {
					modal_obj: {ACTIVE: false, active_index: 0, active_id: null}
				};
			},
			setModal: function(index, id){
				var modal_obj = this.state.modal_obj;
				modal_obj.ACTIVE = !(modal_obj.ACTIVE);
				modal_obj.active_index = index;
				modal_obj.active_id = id;
				this.setState({modal_obj: modal_obj});
			},
			renderHours: function(hours){
				if(hours<1){
					return hours*60+' minutes';
				} else 
					return hours+ ' hours';
			},
			render: function(){
				return (
					<div className='room_container'>
						<div className='room_card'>
							<div className='card_tops'></div>
							<div className='card_bottoms' style={{backgroundColor:'#B14949', border: '1px solid #B14949', color: '#FFFFFF', textAlign: 'center'}}><p>+Task</p><br /></div>
						</div>
						{this.props.Room.task_arr.map((task, task_index)=>{
							if(task.status==='ACTIVE'){
								return (
									<div className='room_card' onClick={(event)=>{
										this.setModal(task_index, task.id);
										this.props.parent.setSubmit('ACTIVE_TASK', {task_complete: this.state.modal_obj.active_index}, 'PENDING');
									}}>
										<div className='card_tops'>{task.name}<span>&#9998; &#10005;</span></div>
										<div className='card_bottoms'><li>{this.renderHours(task.numerator_hours)}</li><li>of {task.denominator_hours}</li></div>
									</div>
								)
							}
						}.bind(this))}
						
						
						{(this.state.modal_obj.ACTIVE) ? <Modal ActiveTasks={this} parent={this.props.parent} active_id={this.state.modal_obj.active_id} active_index={this.state.modal_obj.active_index} /> : null}
					</div>
				);
			}
		});
		var Modal = React.createClass({
			getInitialState: function(){
				var index = this.props.active_index;
				var task = this.props.parent.state.Room.task_arr[index];
				return {
					numerator_hours: task.numerator_hours, denominator_hours: task.denominator_hours
				}
			},
			render: function(){
				return (
					<div id="myModal" className="modal">
	  				<div className="modal-content">		
			  			<div style={{display: 'flex', justifyContent: 'center'}}>
		        		<form>
		        			<div style={{display: 'flex', flexDirection: 'column'}}>
		        				<article style={{display: 'flex'}}><h3 className='modal-header'>Complete Task {this.props.active_index}</h3><span 
		        				onClick={(event)=>{this.props.ActiveTasks.setModal()}} className="close">&times;</span></article>
		        				<article style={{display: 'flex'}}><label className='complete-task'>Hours:</label><input className='complete-task' type='text' value={this.state.hours} onChange={(e)=>{this.setState({hours: e.target.value})}}/></article>
		        				<article style={{display: 'flex'}}><label className='complete-task'>of {this.state.denominator_hours} total hours</label></article>
		        			</div>
				          <article style={{display: 'flex', justifyContent: 'center'}}><input className='submit_button' type='submit' value='Submit' onClick={(event)=>{
				          		event.preventDefault();
				          		var submit_args = { ...this.state, active_id: this.props.active_id }
				          		this.props.parent.submitObject('ACTIVE_TASK', submit_args);
				          		this.props.ActiveTasks.setModal();
				          }}/></article>
				        </form>
					  	</div>
						</div>
					</div>
				);
			}
		});
		var CaseYourData = React.createClass({
			getInitialState: function(){
				var currentTime = new Date();
    		var current_year = currentTime.getFullYear();
    		var current_month = currentTime.getMonth();
    		var current_day = currentTime.getDate();
				return {
					selected_radio_button: 'week',
      		initial_date: current_day,
      		footer_date: [current_year, current_month, current_day]
      	};
			},
			handleClick: function(selected_radio_button){
				this.setState({
					selected_radio_button: selected_radio_button
				});
			},
		  nextInitialDate: function(event){
		    var state = this.state;
		    var react = {setState: this.setState.bind(this)};
		    nextInitialDate({}, state, react, {});
		  },
		  prevInitialDate: function(event){
		    var state = this.state;
		    var react = {setState: this.setState.bind(this)};
		    prevInitialDate({}, state, react, {});
		  },
		  renderFooter: function(){
		    switch(this.state.selected_radio_button){
		      case 'week':
		        return <div id='chart-footer'>{this.state.footer_date[0]} {displayMonth(this.state.footer_date[1])}</div>
		        break;
		      case 'quarter':
		        return <div id='chart-footer'>{this.state.footer_date[0]} {displayQuarter(this.state.footer_date[1])}</div>
		        break;
		      case 'year':
		        return <div id='chart-footer'>{this.state.footer_date[0]}</div>
		        break;
		      default:
		        return <div>Error</div> 
		    }
		  },
			render: function(){
				var gantt_arr = this.props.Room.gantt_arr;
				var unique_goal_ids = {};
				gantt_arr.map((gantt_obj)=>{
	      	if(unique_goal_ids[gantt_obj.goal_id]){
						//nothing
					} else {
						unique_goal_ids[gantt_obj.goal_id] = gantt_obj.goal_id;
					}
				});
				return (
					<div className='room_container' style={{'display': 'flex', 'flexDirection': 'column', 'alignItems': 'center', 'justifyContent': 'center'}}>
		      	
		      	<div id='radio-buttons-panel' style={{'display': 'flex'}}>
		      	  <div id={(this.state.selected_radio_button=='year') ? 'radio-button1-is-selected' : 'radio-button1'} className='radio-buttons' onClick={(event)=>this.handleClick('year')}>Quarters</div>
		      	  <div id={(this.state.selected_radio_button=='quarter') ? 'radio-button2-is-selected' : 'radio-button2'} className='radio-buttons' onClick={(event)=>this.handleClick('quarter')}>Weeks</div>
		      	  <div id={(this.state.selected_radio_button=='week') ? 'radio-button3-is-selected' : 'radio-button3'} className='radio-buttons' onClick={(event)=>this.handleClick('week')}>Days</div>
		      	</div>
		      	<div id='chart-header' style={{'display': 'flex', 'alignItems': 'flex-end'}}>
		      	   	<div className='col1'>
		      	    	<span id="col1header">Sprint Goal</span>
		      	  	</div>
		      	  	<div className='col2' style={{'display': 'flex'}}>
		      	  	  <ChartHead parent={this}>{this.state.selected_radio_button}</ChartHead>
		      	  	</div>
		      	  	<div className='col3'>
		      	  	  <span id='col3header'>{/*Sprint End*/}</span>
		      	  	</div>       
		      	</div>
		      	<div id='chart-panel' style={{'display': 'flex'}}>
		      	  <div className='col1'>
		      	    <div id='col1body'>
		      	      {Object.keys(unique_goal_ids).map((key)=>{
		      	      	return (<div className='row'>{key}</div>);
		      	      })}
		      	    </div>
		      	  </div>
		      	  <div className='col2'>
		      	    <Chart Menu={this}
		      	    	gantt_arr={gantt_arr}
		              selected_radio_button={this.state.selected_radio_button} />
		      	  </div>
		      	  <div className='col3'>
		      	    <div id='col3body'>
		      	      {/*<div className='row'>March 20, 2017</div>
		      	      <div className='row'>April 1, 2017</div>
		      	      <div className='row'>November 6, 2017</div>*/}
		      	    </div>
		      	  </div>
		      	</div>
		      	<div style={{'display': 'flex', 'alignItems': 'flex-end'}}>
		          <div className='arrow-left' onClick={(event)=>{this.prevInitialDate(event)}}></div>
		          {this.renderFooter()}
		          <div className='arrow-right' onClick={(event)=>{this.nextInitialDate(event)}}></div>
		        </div>
		    	</div>
				);
			}
		});
		var ChartHead = React.createClass({
		  displayWeekRows: function(numrows){
		    var rows = [];
		    
    		var current_year = this.props.parent.state.footer_date[0];
    		var current_month = this.props.parent.state.footer_date[1];
    		var current_day = this.props.parent.state.footer_date[2];
		    var initial_date = current_day;

		    console.log('initial date is : ', initial_date);
		    var end_date = getMonthEnd(current_month, current_year);
		    
		    for (var i=initial_date; i < numrows+initial_date; i++) {
		      var j = i;
		      j = (j>end_date) ? j-end_date : j;
		      rows.push(<div key={i} className='week-header-cell'>{j}</div>);
		    }
		    return (
		      <div id='chart-header' style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
		  displayQuarterRows: function(numrows){
		    var rows = [];
		    var week_num = 1+Math.floor(getWeekNumber(new Date())/13)*13;
		    for (var i=0; i < numrows; i++) {
		      rows.push(<div key={i} className='month-header-cell'>{i+week_num}</div>);
		    }
		    return (
		      <div id='chart-header' style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
		  displayYearRows: function(numrows){
		    var rows = [];

		    for (var i=0; i < numrows; i++) {
		      rows.push(<div key={i} className='year-header-cell'>{i+1}</div>);
		    }
		    return (
		      <div id='chart-header' style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
			render: function(){
		    switch(this.props.children){
		      case 'year':
		        return (<div>{this.displayYearRows(4)}</div>);
		        break;
		      case 'quarter':
		        return (<div>{this.displayQuarterRows(13)}</div>);
		        break;
		      case 'week':
		        return (<div>{this.displayWeekRows(14)}</div>);
		        break;
		      default: 
		        return (<div>{this.displayWeekRows(14)}</div>); 
		    }
			}
		});
		var Chart = React.createClass({
			getInitialState: function(){
		    var gantt_arr = this.props.gantt_arr;
		    return { 
		    	gantt_arr: gantt_arr
		    };
		  },
		  displayWeekRows: function(numrows){
		    var rows = [];
		    var gantt_arr = this.state.gantt_arr;
		    var initial_year = this.props.Menu.state.footer_date[0];
    		var initial_month = this.props.Menu.state.footer_date[1];
    		var initial_day = this.props.Menu.state.footer_date[2];
		    var initial_date = initial_day;

		    //make a new data structure that groups gantt_objs by goal_id
		    var unique_week_goal_ids = null;
		    unique_week_goal_ids = {};
				gantt_arr.map((gantt_obj)=>{
					var value = gantt_obj.numerator_hours/gantt_obj.denominator_hours;
					if(unique_week_goal_ids[gantt_obj.goal_id]){
						unique_week_goal_ids[gantt_obj.goal_id].push({calendar_id: gantt_obj.calendar_id, value: value});	
					} else {
						unique_week_goal_ids[gantt_obj.goal_id] = [{calendar_id: gantt_obj.calendar_id, value: value}];
					}
					
				});
		    //make a column for each day
		    for (var i=initial_date; i < numrows+initial_date; i++) {
		      var next_month = (i>31) ? initial_month+1 : initial_month;
		      //make a row for each of the unique_goal_ids
		      rows.push(<div key={i} className='week-chart-box'>
		        {Object.keys(unique_week_goal_ids).map((goal_id)=>{

		        	var test_string_date = initial_year+'-'+next_month+'-'+i;
		        	var value_obj = unique_week_goal_ids[goal_id].find((obj)=>{
		        		return (test_string_date===obj.calendar_id)
		        	});
		        	
		        	return (
		        		<ChartCell goal_style='goal-A' selected_radio_button='week' Menu={this.props.Menu}>
		        			{(value_obj) ? value_obj.value : 0}
		        		</ChartCell>
		        	)
		        }.bind(this))}
		      </div>);
		    }
		    return (
		      <div id='chart' key={Math.random()} style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
		  displayQuarterRows: function(numrows){
		    var rows = [];
		    var gantt_arr = this.state.gantt_arr;
		    var currentTime = new Date();
		    var initial_year = currentTime.getFullYear();

		    //make a new data structure that groups gantt_objs by goal_id
		    var unique_quarter_goal_ids = null;
		    unique_quarter_goal_ids = {};
				gantt_arr.map((gantt_obj)=>{
					
					var test_week_id = gantt_obj.week_id
					
					
					if(unique_quarter_goal_ids[gantt_obj.goal_id]){
						var test_value_index = unique_quarter_goal_ids[gantt_obj.goal_id].findIndex((value_obj)=>{
							return (value_obj.week_id === test_week_id);
						});
						var test_value_obj = unique_quarter_goal_ids[gantt_obj.goal_id][test_value_index];
						if(test_value_index !== -1){
							var agg_num = test_value_obj.agg_num + gantt_obj.numerator_hours;
							var agg_den = test_value_obj.agg_den + gantt_obj.denominator_hours;
							var value = agg_num/agg_den;
							unique_quarter_goal_ids[gantt_obj.goal_id][test_value_index] = {week_id: gantt_obj.week_id, value: value, agg_num: agg_num, agg_den: agg_den};
						} else {
							var value = gantt_obj.numerator_hours/gantt_obj.denominator_hours;
							var agg_num = gantt_obj.numerator_hours;
							var agg_den = gantt_obj.denominator_hours;
							unique_quarter_goal_ids[gantt_obj.goal_id].push({week_id: gantt_obj.week_id, value: value, agg_num: agg_num, agg_den: agg_den});
						}
						
					} else {
						var value = gantt_obj.numerator_hours/gantt_obj.denominator_hours;
						var agg_num = gantt_obj.numerator_hours;
						var agg_den = gantt_obj.denominator_hours;
						unique_quarter_goal_ids[gantt_obj.goal_id] = [{week_id: gantt_obj.week_id, value: value, agg_num: agg_num, agg_den: agg_den}];
					}
					
				});

				
		    for (var i=0; i < numrows; i++) {
		      rows.push(<div key={i} className='quarter-chart-box'>
		        {Object.keys(unique_quarter_goal_ids).map((goal_id)=>{

		        	var test_week_number = getWeekNumber(new Date())+i;
		        	
		        	var test_string_week = initial_year+'-wk'+test_week_number;
		        	
		        	var value_obj = unique_quarter_goal_ids[goal_id].find((obj)=>{
		        		return (test_string_week===obj.week_id)
		        	});
		        	
		        	return (
		        		<ChartCell goal_style='goal-A' selected_radio_button='quarter' Menu={this.props.Menu}>

		        			{(value_obj) ? value_obj.value : 0}
		        		</ChartCell>
		        	)
		        }.bind(this))}
		      </div>);
		    }
		    return (
		      <div id='chart' key={Math.random()} style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
		  displayYearRows: function(numrows){
		   	var rows = [];
		    var gantt_arr = this.state.gantt_arr;
		    var currentTime = new Date();
		    var initial_year = currentTime.getFullYear();
		    var initial_month = currentTime.getMonth();

		    //make a new data structure that groups gantt_objs by goal_id
		    var unique_year_goal_ids = null;
		    unique_year_goal_ids = {};
				gantt_arr.map((gantt_obj)=>{
					
					var test_quarter_id = gantt_obj.quarter_id
					
					
					if(unique_year_goal_ids[gantt_obj.goal_id]){
						var test_value_index = unique_year_goal_ids[gantt_obj.goal_id].findIndex((value_obj)=>{
							return (value_obj.quarter_id === test_quarter_id);
						});
						var test_value_obj = unique_year_goal_ids[gantt_obj.goal_id][test_value_index];
						if(test_value_index !== -1){
							var agg_num = test_value_obj.agg_num + gantt_obj.numerator_hours;
							var agg_den = test_value_obj.agg_den + gantt_obj.denominator_hours;
							var value = agg_num/agg_den;
							unique_year_goal_ids[gantt_obj.goal_id][test_value_index] = {quarter_id: gantt_obj.quarter_id, value: value, agg_num: agg_num, agg_den: agg_den};
						} else {
							var value = gantt_obj.numerator_hours/gantt_obj.denominator_hours;
							var agg_num = gantt_obj.numerator_hours;
							var agg_den = gantt_obj.denominator_hours;
							unique_year_goal_ids[gantt_obj.goal_id].push({quarter_id: gantt_obj.quarter_id, value: value, agg_num: agg_num, agg_den: agg_den});
						}
						
					} else {
						var value = gantt_obj.numerator_hours/gantt_obj.denominator_hours;
						var agg_num = gantt_obj.numerator_hours;
						var agg_den = gantt_obj.denominator_hours;
						unique_year_goal_ids[gantt_obj.goal_id] = [{quarter_id: gantt_obj.quarter_id, value: value, agg_num: agg_num, agg_den: agg_den}];
					}
					
				});
				//make a column for each quarter
				
		    for (var i=0; i < numrows; i++) {
		      rows.push(<div key={i} className='year-chart-box'>
		        {Object.keys(unique_year_goal_ids).map((goal_id)=>{

		        	var test_quarter_number = i+1;
		        	
		        	var test_string_quarter = initial_year+'-q'+test_quarter_number;
		        	
		        	var value_obj = unique_year_goal_ids[goal_id].find((obj)=>{
		        		return (test_string_quarter===obj.quarter_id)
		        	});
		        	
		        	return (
		        		<ChartCell goal_style='goal-A' selected_radio_button='quarter' Menu={this.props.Menu}>
		        			{(value_obj) ? value_obj.value : 0}
		        		</ChartCell>
		        	)
		        }.bind(this))}
		      </div>);
		    }
		    return (
		      <div id='chart' key={Math.random()} style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
			render: function(){
		    switch(this.props.selected_radio_button){
		      case 'year':
		        return this.displayYearRows(4);
		        break;
		      case 'quarter':
		        return this.displayQuarterRows(13);
		        break;
		      case 'week':
		        return this.displayWeekRows(14);
		        break; 
		    }
			}
		});
		var ChartCell = React.createClass({
			getInitialState: function(){
		    var dummy_value = (this.props.children) ? this.props.children : 0;
		    return { 
		    	value: dummy_value,
		      view: 'show'
		    };
		  },
		  renderEmptyCell: function(base_value){
		  	return (<div 
	        className='goal-empty'
	        style={{'width': base_value+'px'}}
	        onClick={(event)=>{
	        	changeView('intake', this.props.selected_radio_button, this, this.props.Menu);
	        }.bind(this)}>
	        </div>
	      );
		  },
		  renderCellDisplay: function(base_value){
		  	var width_style = this.state.value*base_value+'px';
      	return (<div 
          className={this.props.goal_style}
          style={{'width': width_style}}
          onClick={(event)=>{
          	changeView('intake', this.props.selected_radio_button, this, this.props.Menu);
          }.bind(this)}>
         	</div>
        );
		  },
		  renderCellIntake: function(base_value){
		  	return (<input 
          className={this.props.goal_style+'-intake'}
          type='text' 
          value={this.state.value} 
          onBlur={(event)=>{
          	changeView('show', this.props.selected_radio_button, this, this.props.Menu);
          }.bind(this)} 
          onChange={(event)=>{changeLength(event, this)}} 
          onKeyPress={(event)=>{
            if(event.charCode==13){
              changeView('show', this.props.selected_radio_button, this, this.props.Menu);
            }
          }.bind(this)} />);
		  },
			render: function(){
		    var base_value;
		    switch(this.props.selected_radio_button){
		      case 'week': 
		        base_value = 24;
		        break;      
		      case 'quarter':
		        base_value = 26;
		        break;
		      case 'year':
		        base_value = 89;
		        break;
		      default:
		        base_value = 20;
		    }
		    switch(this.state.view){
		      case 'show':
		        if(!this.state.value){
		          return this.renderEmptyCell(base_value);
		          break;
		        } else {
		          return this.renderCellDisplay(base_value);
			        break;  
		        }
		      case 'intake':
		        return this.renderCellIntake(base_value);
		        break;
		    }
			}
		});
		var Donate = React.createClass({
			render: function(){
				return (
					<div className='room_container'>
						<div className='room_card'>
							<div className='card_tops'>Fan<span>&#9998; &#10005;</span></div>
							<div className='card_bottoms'><article className='percent-score'>$1</article></div>
						</div>
						<div className='room_card'>
							<div className='card_tops'>Patron<span>&#9998; &#10005;</span></div>
							<div className='card_bottoms'><article className='percent-score'>$5</article></div>
						</div>
						<div className='room_card'>
							<div className='card_tops'>Supporter<span>&#9998; &#10005;</span></div>
							<div className='card_bottoms'><article className='percent-score'>$20</article></div>
						</div>
					</div>
				);
			}
		});
		var Logout = React.createClass({
			render: function(){
				return (
					<div className='entry_container'>
						<section className='advert' style={{width: '100%'}}>
							<article><p style={{textAlign: 'center'}}>
								Thanks for using the site. Farewell!
							</p></article>
						</section>
					</div>
				);
			}
		});
		ReactDOM.render(<App />, document.getElementById('container'));
	</script>
	<script>
		var views_arr = [
			'Login', 
			'Rooms', 
			'Goals', 
			'Tasks', 
			'Productivity', 
			'Store',
			'Logout'
		];
		function cycleBack(views_arr, view) {
	    if(view<=0){view=views_arr.length}
	    view--;
	  	return view;
		};
		function cycleNext(views_arr, view){
			view++;
	    if(view>=views_arr.length){view=0}
	   	return view;
		}
	</script>
	<script>
	
function nextInitialDate(action, state, react, ext){
  var footer_date = state.footer_date;
  switch(state.selected_radio_button){
    case 'week':
      var day_expression = 7;
      var date = new Date(footer_date[0], footer_date[1], footer_date[2]);
      var newdate = new Date(date.setTime(date.getTime()+day_expression*86400000));
      footer_date = [newdate.getFullYear(), newdate.getMonth(), newdate.getDate()];
      break;
    case 'quarter':
      footer_date[1] += 3;
      if(footer_date[1]>11){
        footer_date[1] -=12;
        footer_date[0] +=1;
      }
      break;
    case 'year':
      footer_date[0] += 1;
      break;
    default:
      day_expression =0;
  }
  react.setState({footer_date: footer_date});
}

function prevInitialDate(action, state, react, ext){
  var footer_date = state.footer_date;
  switch(state.selected_radio_button){
    case 'week':
      var day_expression = -7;
      var date = new Date(footer_date[0], footer_date[1], footer_date[2]);
      var newdate = new Date(date.setTime(date.getTime()+day_expression*86400000));
      footer_date = [newdate.getFullYear(), newdate.getMonth(), newdate.getDate()];
      break;
    case 'quarter':
      footer_date[1] -= 3;
      if(footer_date[1]<0){
        footer_date[1] +=12;
        footer_date[0] -=1;
      }
      break;
    case 'year':
      footer_date[0] -= 1;
      break;
    default:
      day_expression =0;
  }
  react.setState({footer_date: footer_date});
}

function displayMonth(month){
    switch(month){
      case 0:
        return 'January';
        break;
      case 1:
        return 'February';
        break;
      case 2:
        return 'March';
        break;
      case 3:
        return 'April';
        break;
      case 4:
        return 'May';
        break;
      case 5:
        return 'June';
        break;
      case 6:
        return 'July';
        break;
      case 7: 
        return 'August';
        break;
      case 8:
        return 'September';
        break;
      case 9:
        return 'October';
        break;
      case 10:
        return 'November';
        break;
      case 11:
        return 'December';
        break;
      default:
        return 'error';
    }
  }

  function displayQuarter(month){
    switch(month){
      case 0:
        return 'Quarter 1';
        break;
      case 1:
        return 'Quarter 1';
        break;
      case 2:
        return 'Quarter 1';
        break;
      case 3:
        return 'Quarter 2';
        break;
      case 4:
        return 'Quarter 2';
        break;
      case 5:
        return 'Quarter 2';
        break;
      case 6:
        return 'Quarter 3';
        break;
      case 7: 
        return 'Quarter 3';
        break;
      case 8:
        return 'Quarter 3';
        break;
      case 9:
        return 'Quarter 4';
        break;
      case 10:
        return 'Quarter 4';
        break;
      case 11:
        return 'Quarter 4';
        break;
      default:
        return 'error';
    }
  }
  function getMonthEnd(month, year){
    switch(month){
      case 0:
        return 31;
        break;
      case 1:
        if(year%4===0){
          if(year%100===0){
            if(year%400===0){
              return 29;
              break;
            } else {
              return 28;
              break;
            }  
          } else {
            return 29
            break;
          }
        } else {
          return 28;
          break;
        }
      case 2:
        return 31;
        break;
      case 3:
        return 30;
        break;
      case 4:
        return 31;
        break;
      case 5:
        return 30;
        break;
      case 6:
        return 31;
        break;
      case 7: 
        return 31;
        break;
      case 8:
        return 30;
        break;
      case 9:
        return 31;
        break;
      case 10:
        return 30;
        break;
      case 11:
        return 31;
        break;
      default:
        return 'error';
    }
  }
  function changeView(new_view, selected_radio_button, cell_component, menu_component){

    switch(selected_radio_button){
  		case 'week':
  			cell_component.setState({view: new_view});	
  			break;
  		case 'quarter':
  			cell_component.setState({selected_radio_button: 'week'}).bind(menu_component);
  			break;
  		case 'year':
  			cell_component.setState({selected_radio_button: 'quarter'}).bind(menu_component);
  			break;
 
 
 		}
 	}

	function changeLength(event, cell_component){
	  cell_component.setState({value: event.target.value});
	}
	function getWeekNumber(d) {
	  // Copy date so don't modify original
	  d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
	  // Set to nearest Thursday: current date + 4 - current day number
	  // Make Sunday's day number 7
	  d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay()||7));
	  // Get first day of year
	  var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
	  // Calculate full weeks to nearest Thursday
	  var weekNo = Math.ceil(( ( (d - yearStart) / 86400000) + 1)/7);
	  // Return array of year and week number
	  return weekNo;
	}
  </script>
</body>
</html>