<html>
<head>
	<meta charset="utf-8">
	<script src="./build/react.min.js"></script>
	<script src="./build/react-dom.min.js"></script>
	<script src="./build/browser.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<main id='container'></main>
	<script type='text/babel'>
		var App = React.createClass({
			getInitialState: function(){
				return {input: '50px', socket:{}}
			},
			componentDidMount: function(){
				var socket = io();
				this.setState({socket: socket});
			},
			render: function(){
				return (
					<div>
						<form onSubmit={(e)=>{console.log('submitted')}}>
							<input type='text' value={this.state.input} onChange={(e)=>{
								this.setState({input: e.target.value});
							}}/>
						</form>
						<fieldset>
							<div style={{backgroundColor: 'green', height: '50px', width:this.state.input}}></div>
						</fieldset>
					</div>
				);	
			}
		});
		ReactDOM.render(<App />, document.getElementById('container'));
	</script>
</body>
</html>