<script>
var Chart = React.createClass({
			getInitialState: function(){
		    var gantt_arr = this.props.gantt_arr;
		    return { 
		    	gantt_arr: gantt_arr
		    };
		  },
		  displayWeekRows: function(numrows){
		    var rows = [];
		    var initial_date = this.props.footer_date[2];
		    var initial_month = this.props.footer_date[1];
		    var initial_year = this.props.footer_date[0];
		    
		    for (var i=initial_date; i < numrows+initial_date; i++) {
		      var next_month = (i>31) ? initial_month+1 : initial_month;
		      
		      rows.push(<div key={i} className='week-chart-box'>
		        {this.state.gantt_arr.map((gantt_obj)=>{
		        	return (
		        		<ChartCell goal_style='goal-A' selected_radio_button={this.props.selected_radio_button} >{gantt_obj.date_matrix[initial_year, next_month, i]}</ChartCell>
		        	)
		        }.bind(this))}
		      </div>);
		    }
		    return (
		      <div id='chart' style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
		  displayQuarterRows: function(numrows){
		    var rows = [];
		    for (var i=0; i < numrows; i++) {
		      rows.push(<div key={i} className='quarter-chart-box'>
		        <ChartCell goal_style='goal-A' Menu={this.props.Menu} selected_radio_button={this.props.selected_radio_button} />
		        <ChartCell goal_style='goal-B' Menu={this.props.Menu} selected_radio_button={this.props.selected_radio_button} />
		        <ChartCell goal_style='goal-C' Menu={this.props.Menu} selected_radio_button={this.props.selected_radio_button} />
		      </div>);
		    }
		    return (
		      <div id='chart' style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
		  displayYearRows: function(numrows){
		    var rows = [];
		    for (var i=0; i < numrows; i++) {
		      rows.push(<div key={i} className='year-chart-box'>
		        <ChartCell goal_style='goal-A' Menu={this.props.Menu} selected_radio_button={this.props.selected_radio_button} />
		        <ChartCell goal_style='goal-B' Menu={this.props.Menu} selected_radio_button={this.props.selected_radio_button} />
		        <ChartCell goal_style='goal-C' Menu={this.props.Menu} selected_radio_button={this.props.selected_radio_button} />
		      </div>);
		    }
		    return (
		      <div id='chart' style={{'display': 'flex'}}>
		        {rows}
		      </div>
		    );
		  },
			render: function(){
		    switch(this.props.selected_radio_button){
		      case 'year':
		        return (<div>{this.displayYearRows(4)}</div>);
		        break;
		      case 'quarter':
		        return (<div>{this.displayQuarterRows(13)}</div>);
		        break;
		      case 'week':
		        return (<div>{this.displayWeekRows(14)}</div>);
		        break;
		      default: 
		        return (<div>{this.displayWeekRows(14)}</div>); 
		    }
			}
		});
		var ChartCell = React.createClass({
			getInitialState: function(){
		    var dummy_value = (this.props.children) ? this.props.children : 0;
		    return { 
		    	value: dummy_value,
		      view: 'show'
		    };
		  },
		  renderEmptyCell: function(base_value){
		  	return (<div 
	        className='goal-empty'
	        style={{'width': base_value+'px'}}
	        onClick={(event)=>{
	        	changeView('intake', this.props.selected_radio_button, this, this.props.Menu);
	        }}>
	        </div>
	      );
		  },
		  renderCellDisplay: function(base_value){
		  	var width_style = this.state.value*base_value+'px';
      	return (<div 
          className={this.props.goal_style}
          style={{'width': width_style}}
          onClick={(event)=>{
          	changeView('intake', this.props.selected_radio_button, this, this.props.Menu);
          }}>
         	</div>
        );
		  },
		  renderCellIntake: function(base_value){
		  	return (<input 
          className={this.props.goal_style+'-intake'}
          type='text' 
          value={this.state.value} 
          onBlur={(event)=>{
          	changeView('show', this.props.selected_radio_button, this, this.props.Menu);
          }} 
          onChange={(event)=>{changeLength(event, this)}} 
          onKeyPress={(event)=>{
            if(event.charCode==13){
              changeView('show', this.props.selected_radio_button, this, this.props.Menu);
            }
          }} />);
		  },
			render: function(){
		    var base_value;
		    switch(this.props.selected_radio_button){
		      case 'week': 
		        base_value = 24;
		        break;      
		      case 'quarter':
		        base_value = 26;
		        break;
		      case 'year':
		        base_value = 89;
		        break;
		      default:
		        base_value = 20;
		    }
		    switch(this.state.view){
		      case 'show':
		        if(!this.state.value){
		          return this.renderEmptyCell(base_value);
		          break;
		        } else {
		          return this.renderCellDisplay(base_value);
			        break;  
		        }
		      case 'intake':
		        return this.renderCellIntake(base_value);
		        break;
		    }
			}
		});
</script>