* {
		font-family: 'Georgia';
		padding: 0;
		margin: 0;
}
.new_body {
	display: block;
	background-color: #EBEBEB;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#container {
	height: 100%; width: 100%; background-color: #EBEBEB;
}
.header {
	width: 100%; background-color: #B14949; color: #FFFFFF; text-align: center;
}
.sub-header {
	font-style: italic;
}
.menu {
	display: flex; justify-content: space-around; width: 100%; border-bottom: 1px solid gray; margin-top:4px; background-color: #EBEBEB;
}
.menu-selected {
	background-color:#F7B5B5; color:#B14949; border-radius: 10px;
}
.content-header {
	color: #343434; margin-top: 10px
}
.content-sub-header {
	display: flex; justify-content: space-between; width:80%
}
h2, h3, h4 {
	width: 100%;
	color: #434343;
	text-align: center;
	margin: 0 4px 2px 4px;
}
h4:hover {
	text-decoration: underline;
	color: #B14949;
	transition: color 0.4s;
}
#main {
	margin-top: 4px;
	background-color: linen;
	width: 80%;
	border-radius: 10px;
	min-height: 80px;
	box-shadow: 3px 3px 2px gray;
}
.room_container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 10px;
	border: 1px solid #C3C3C3;
	background-color: linen;
	padding: 10px;
}
.room_card {
	padding: 0;
	border-radius: 5px;
	min-width: 100px;
  max-width: 250px;
  min-height: 64px;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px 2px gray;
	margin: 10px;
	background-color: white;
	writing-mode: horizontal-tb;
	
}
.card_tops {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	min-height: 5px;
	margin: 0; 
	border: 1px solid #B14949;
	border-bottom: none;
	background-color: #B14949;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 20px;
}
.card_bottoms {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 0; 
	border: 1px solid #FFFFFF;
	border-left: 1px solid #E6E6E6;
	border-top: none;
	flex: 1;

}
span {
	color: #B14949;
}
span.selected {
	color: #B14949;
} 
span:hover {
	color: #FFFFFF;
}
li {
	color: #343434;
}
.entry_container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row-reverse;
	margin: 10px;
	border: 1px solid #C3C3C3;
	min-height: 300px;
}
.advert {
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 10px;
	background-color: #FFF;
}
p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.username_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: linen;
	padding: 20px 4px 20px 4px;
	height: 300px;
	border-left: 1px solid #d5d5d5;
}
.username_card {
	border-radius: 5px;
	border: 1px solid #D5D5D5;
	height: 30px;
	min-width: 300px;
	font-size: 24px;
	padding: 2px 2px 2px 2px;
	background-color: white;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
input {
	border: none;
	font-size: 20px;
	border-bottom: 1px solid #343434;
	text-align: center;
}
label {
  width: 60px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  font-size: 20px;
}
.u_input{
	width: 250px;
	line-height: 1.6;
	height: 30px;
}
.u_input:focus {
	background: #eaeaea;
}
.username_button {
	border-radius: 5px;
	border: 1px solid #A4A4A4;
	/*min-height: 37px;*/
	min-width: 50px;
	font-size: 16px;
	display: inline-block;
	padding: 2px 2px 0 2px;
	/*background-color: #C3C3C3;*/
	background-color:#B14949;
	color: white;
	margin-left: 2px;
}
.username_button:hover {
	color: #f3ce6a;
}
a {
	color: blue;
}
.modal-header {
			width: 100%; background-color: #B14949; color: #FFFFFF; text-align: center; margin: 0; line-height: 1.8;
		}
    .modal {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
				border: 1px solid #C3C3C3;
				flex-basis: 30px;
				text-align: center;
				background-color: #EBEBEB;
				line-height: 1;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    label.complete-task {
		  width: 250px;
		  display: inline-block;
		  vertical-align: top;
		  margin: 6px;
		  font-size: 20px;
		}
		input.complete-task {
			border: none;
			font-size: 20px;
			border-bottom: 1px solid #343434;
			text-align: center;
			line-height: 1.6;
			width: 90%;
		}
		.submit_button {
			border-radius: 5px;
			border: 1px solid #A4A4A4;
			min-height: 37px;
			width: 90%;
			font-size: 16px;
			display: inline-block;
			padding: 2px 2px 0 2px;
			background-color: #C3C3C3;
			color: white;
			margin-left: 2px;
			margin-top: 20px;
		}
		.percent-score {
			color: #343434;
			font-size: 24px;
			text-align: center;
			line-height: 1.4;
		}
		.success {
			color: green;
		}
		.failure {
			color: red;
		}

    #radio-buttons-panel {
      background-color: white;
      border-radius: 10px;
      border: solid 1px #E6E6E6;
      height: 20px;
    }
    #radio-button1 {
      border-right: 1px solid #635D57;
      background-color: #E6E6E6;
      color: #635D57;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    #radio-button1-is-selected {
      border-right: 1px solid #635D57;
      color: #635D57;
      background-color: #f3ce6a;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    #radio-button2 {
      border-right: 1px solid #635D57;
      border-left: 1px solid #635D57;
      background-color: #E6E6E6;
      color: #635D57;
    }
    #radio-button2-is-selected {
      border-right: 1px solid #635D57;
      border-left: 1px solid #635D57;
      color: #635D57;
      background-color: #f3ce6a;
    }
    #radio-button3 {
      border-left: 1px solid #635D57;
      background-color: #E6E6E6;
      color: #635D57;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    #radio-button3-is-selected {
      border-left: 1px solid #635D57;
      color: #635D57;
      background-color: #f3ce6a;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .radio-buttons {
      color: #949494;
      width: 60px;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
    }
    #chart-header {
      margin-top: 10px;
    }
    .col1 {
      width: 90px;
      text-align: center;
      font-family: 'helvetica';
      font-size: 12px;
      color: #949494;
    }
    #col1header {
      border-bottom: 1px solid #949494;
    }
    #col1body {
      margin-top: 1px;
      border-top: 1px solid linen;
    }
    .col3 {
      width: 90px;
      border: 0px solid linen;
      text-align: center;
      font-family: 'helvetica';
      font-size: 12px;
      color: #949494;
    }
    #col3header {
      border-bottom: 1px solid #949494;
    }
    #col3body {
      margin-top: 1px;
      border-top: 1px solid linen;
    }
    .row {
      font-size: 10px;
      margin-top: 10px;
      line-height: 20px;
    }
    .week-header-cell {
      width: 24px;
      border: solid 1px linen;
      text-align: center;
      font-family: 'helvetica';
      font-size: 10px;
      color: #949494;
      border-bottom: solid 2px linen;
    }
    .month-header-cell {
      width: 26px;
      border: solid 1px linen;
      text-align: center;
      font-family: 'helvetica';
      font-size: 10px;
      color: #949494;
      border-bottom: solid 2px linen;
    }
    .year-header-cell {
      width: 89px;
      border: solid 1px linen;
      text-align: center;
      font-family: 'helvetica';
      font-size: 10px;
      color: #949494;
      border-bottom: solid 2px linen;
    }
    #chart {
      border: 1px solid #E6E6E6
    }
    .week-chart-box {
      height: 100px;
      width: 24px;
      background-color: white;
      text-align: center;
      line-height: 40px;
      border: 1px solid #E6E6E6
    }
    .quarter-chart-box {
      height: 100px;
      width: 26px;
      background-color: white;
      text-align: center;
      line-height: 40px;
      border: 1px solid #E6E6E6
    }
    .year-chart-box {
      height: 100px;
      width: 89px;
      background-color: white;
      text-align: center;
      line-height: 40px;
      border: 1px solid #E6E6E6
    }
    .goal-empty {
      margin-top: 10px;
      background-color: #FFFFFF;
      height: 20px;
    }
    .goal-A {
      margin-top: 10px;
      background-color: #66ADD5;
      height: 20px;
      width: 26px;
    }
    .goal-A-intake {
      border: none;
      border-bottom: 1px solid #66ADD5;
      color: #66ADD5;
      display: block;
      margin-top: 10px;
      height: 19px;
      width: 20px; 
      padding: 0px;
    }
    .goal-B {
      margin-top: 10px;
      background-color: #D56666;
      height: 20px;
      width: 15px;
    }
    .goal-B-intake {
      border: none;
      border-bottom: 1px solid #D56666;
      color: #D56666;
      display: block;
      margin-top: 10px;
      height: 19px;
      width: 20px; 
      padding: 0px;
      font-size: 10px;
    }
    .goal-C {
      margin-top: 10px;
      background-color: #66D58F;
      height: 20px;
      width: 15px;
    }
    .goal-C-intake {
      border: none;
      border-bottom: 1px solid #66D58F;
      color: #66D58F;
      font-size: 10px;
      display: block;
      margin-top: 10px;
      height: 19px;
      width: 20px; 
      padding: 0px;
    }
    .arrow-left {
      width: 0; 
      height: 0; 
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent; 
      border-right: 7px solid #949494;
    }
    #chart-footer {
      margin: 5px 5px 0px 5px;
      font-family: 'helvetica';
      font-size: 12px;
      color: #949494;
    }
    .arrow-right {
      width: 0; 
      height: 0; 
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent; 
      border-left: 7px solid #949494;
    }